*.pdf binary
*.docx binary
*.mp4 binary
*.zip binary
*.png binary
*.ipynb text eol=lf
*.py text eol=lf
*.md text eol=lf
*.json text eol=lf
*.ini text eol=lf
*.csv text eol=lf
requirements.txt text eol=lf
